@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}




<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="javascript:void(0);" method="POST" onsubmit="addItem()">
	<input type="text" id="add-name" placeholder="New to-do">
	<input type="submit" value="Add">
</form>

<script>
	function addItem() {
		const input = document.getElementById('add-name');
		$.ajax({
		url: '?handler=WriteLog&msg='+input.value,
		success: function (data) {
			alert(data);
		},
		error: function (error) {
		  alert("Error: " + error);
		}
	  })
		if (input.value) {
			console.log('Item added:', input.value);
			input.value = ''; // Clear the input after adding
		}
	}
</script>