@page
@model WhatsappMessageSender.Pages.IndexModel
@* @using DevExpress.Blazor // Add this line if you are using DevExpress components *@
@{
    ViewData["Title"] = "Home page";
}
@* <style>
    body {
        background-color: black;
        color: white;
    }
</style> *@



<head runat="server">
    <title></title>
    <script type="text/javascript">

        function HandleIT() {
           var name = document.getElementById('<%=txtname.ClientID %>').value;
           var address = document.getElementById('<%=txtaddress.ClientID %>').value;

            PageMethods.ProcessIT(name, address, onSucess, onError);
           function onSucess(result) {
                alert(result);
            }

            function onError(result) {
                alert('Something wrong.');
            }
        }
    </script>
</head>



<div>
    <p>Say bye-bey to Postbacks.</p>

    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true"></asp:ScriptManager>

    <asp:TextBox ID="txtname" runat="server"></asp:TextBox>
    <br />
    <asp:TextBox ID="txtaddress" runat="server"></asp:TextBox>
    <br />
    <asp:Button ID="btnCreateAccount" runat="server" Text="Signup" OnClientClick="HandleIT(); return false;" />
</div>  